<h2>Home Page</h2>
<ul>
	<% @links.each do |link| %>
	<li><%= link_to link.title, link.url %><br /><%= link_to 'comments', link_path(link) %></li>
	<% end %>
</ul>

<%= will_paginate @links %>

<%= link_to 'Add a link', new_link_path %>